<launch>
<!--	<include file="$(find detection_multi_cam)/launch/launch_tf.launch"/> -->

<!--   *********************** camera_axis.py av notre bon IP mais pb ac camera_info*************   -->

	<node name="axis_connection" pkg="axis_camera" type="axis.py">
		<param name="hostname" value="10.0.161.201" />
		<param name="password" value="fakeshop_pepper" />
		<param name="width" value="1280" />
		<param name="height" value="720" />
			
	</node>

<!--   *********************** OK publish  camera_info*************   -->

	<node name="axis_publish_info" pkg="sca_axis_cam" type="publish_info_cam.py">
		<param name="filename" value="camera_fakeshop.yaml" />
			
	</node>

<!--   *********************** decompression de limage *************   -->

	<node name="image_transport_decompressed" pkg="image_transport" type="republish" 
	args="compressed in:=/image_raw raw out:=/frame_reduced_out //image_transport:=compressed">
	</node>
			
	
<!--   *********************** sca_axis_PTZ <= pour activer le deplacement de la camera  *************   -->

	<node name="sca_axis_PTZ" pkg="sca_axis_cam" type="sca_axis_ptz.py">
		<param name="hostname" value="10.0.161.201" />		
	</node>


<!--   *********************** 
va chercher le fichier issu de la calib ar_track pour positionner la camera... detection_post_calib le fait aussi  
****** *************   -->

<include file="$(find detection_multi_cam)/launch/launch_tf.launch"/> 


<node name="sca_axis_tf_maj" pkg="sca_axis_cam" type="publish_axis_tf.py"/>
	



</launch>

